html {
    height: -webkit-fill-available;
}

body {
    background-color: #222;
    color: #ddd;
    margin: 0;
    height: 0dvh;
    min-height: 100dvh;
    max-height: 100dvh;
    min-height: -webkit-fill-available;

    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    all: unset;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.17rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .83rem;
}

a {
    color: #93d2cb;
}

.centered {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.cursive {
    font-family: 'Dancing Script', cursive;
}